@tailwind base;
@tailwind components;
@tailwind utilities;

.treasureBox {
    @apply relative top-16 z-10 h-[250px];
}

.blob1 {
    @apply absolute top-10 left-10 scale-150 bg-no-repeat rotate-[20deg];
    background-image: url('/blob1.1.svg');
    background-size: contain;
    height: 200px;
    width: 250px;
    z-index: 0.8
}

.blob2 {
    @apply absolute top-16 right-20 scale-125 rotate-[200deg] bg-no-repeat;
    background-image: url('/blob2.2.svg');
    background-size: contain;
    height: 200px;
    width: 200px;
    z-index: 0; 
    /* background-color: rgb(187, 81, 216,0.4); */
}

.coin {
    background-image: url('/coin1.png');
    height: 30px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.magicPortion {
    background-image: url('/bgrem-magic_portion1.1.png');
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: cover;
}

.people {
    background-image: url('/People.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: contain;
}
.general {
    background-image: url('/General.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: contain;
}
.land {
    background-image: url('/Land.png');
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.culture {
    background-image: url('/culture.png');
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.heritage {
    background-image: url('/Heritage.png');
    height: 120px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}